/* Custom Properties */

:root {
  /* Color */
  --text: #002e28;
  --background: #e0fffa;
  --primary: #008a70;
  --secondary: #5cd1ff;
  --accent: #007cf0;
  /* Other */
  font: "Kiwi Maru", serif;
}

* {
  font-family: font;
  text-align: center;
  color: var(--background);
}

body {
  background-color: var(--text);
}

.mainContent {
  /*  */
  margin: 0 auto;
  padding: 25px;
  max-width: 600px;
  min-width: 250px;
  /*  */
  display: flex;
  place-content: center space-evenly;
  flex-wrap: wrap;
  /*  */
  border: 10px var(--accent) inset;
}

p {
  font-size: 1.75rem;
  font-weight: 500;
}

input {
  border: none;
  border-bottom: 5px solid var(--secondary);
  background-color: transparent;
  font-size: 1.1rem;
}
